.main {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding: 6rem;
  min-height: 100vh;
}

.section {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
